
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.content{
    padding-left: 180px;
}
.el-aside{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    background-color: rgb(48, 65, 86);
    width: 180px;
    .el-menu-vertica{
        a{
            text-decoration: none;
        }
    }
}
.website-title{
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.user-name-dropdown{
    float:right;
    margin-right:40px;
    margin-top: 10px;
    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
    }
    .el-icon-arrow-down {
        font-size:12px;
    }
}
